<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxVDgmdhGiIYdc8Tk8P_kqpfPGiTD9ybo</string>
	<key>GCM_SENDER_ID</key>
	<string>551608440416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jonghong</string>
	<key>PROJECT_ID</key>
	<string>jonghong-4c2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>jonghong-4c2ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551608440416:ios:250f6876a2fe4e7f769505</string>
</dict>
</plist>